venv/
**/__pycache__/**
.python-version
.vscode/
**/*.docx
**/logs/**
*.sh
stats/
results/
instance_language-revision/
es-tereotipando/
es-valido/
data_es/esbbq.py
stereotypes_summary.py
bbq/
data_es/v0.5_2024-11-13_technical-report/**
data_es/v1.0_2025-01-17/**
data_es/v1.0_2025-04-30_TFM/**
templates/v0.5_2024-11-13_technical-report/**
templates/v1.0_2025-04-30_TFM/**
use_venv.sh
to_hf.py
dataloader_temp.py
harness_scripts/
plot_scores_manual.py
instances_to_revise/
prepare-revision-file.py
old_scripts/
get_results_harness.py
get_stat_analysis.py