venv/
**/__pycache__/**
.python-version
.vscode/
**/*.docx
**/logs/**
gdrive_sync.sh
use_venv.sh
statistical_analysis/
stats/
results/
instance_language-revision/
es-tereotipando/
es-valido/
stereotypes_summary.py
tables_paper.ipynb
bbq/
data_es/v0.5_2024-11-13/**
data_es/v1.0_2025-01-17/**
templates_es/v0.5_2024-11-13/**